body {
    font-family: 'PT Sans', sans-serif;
    background: #E5E7E9; 
}

section {
    width: min(90vw, 1500px);
    margin: auto;  
} 

section div {
    padding: 0.7rem 0;
}

section div:hover {
    transform:  scale(1.1);
}

section a {
    text-decoration: none;
}

.main-div {
    border: solid 3px #000;
  
    text-align: center;
    margin-top: 0.1rem;
    margin-bottom: 2rem;
    
}

.main-div.sports {
    border-color: orange;
}

.main-div.tech {
    border-color: #BA55D3;
}



.form-option img {
    width: 2.5rem;
}
