/* === GLOBAL ============================================== */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}
input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;

}
/* === HEADER ============================================== */
 header.cabecalho-principal {
    text-align: center;
    padding: 2rem 0 6rem;
    background: rgb(40, 155, 209);

    width: 100%;
}

header.cabecalho-principal.darkTheme {
    background: #305094;
}

header.cabecalho-principal h1,
header.cabecalho-principal p {
    color: white;
    display: block;
}

h1 {
    font-size: 6rem;
}

header.cabecalho-principal p {
    font-size: 1.2rem;
}


nav {
    display: flex;
    justify-content: space-between;
}

nav a img {
    width: 2.5rem;
    margin: 0 1rem 1rem 1rem;;
}
/* === BOTÃO DE OPÇÕES NO HEADER  ============================================== */


.options {
    position: absolute;
    bottom: 82%;
    left: 76.5%;
   
    width: 20vw;
    max-height: 400px;
    text-align: center;
   
    background: white;
    border: 0.25px solid black;
   
    visibility: hidden;
    opacity: 0;
    z-index: 999;
   
   
   }
   
   .options.activeded {
       opacity: 1;
       visibility: visible;
   }
   
   .options a {
       display: block;
       padding: 0.5rem 0;
       text-decoration: none;
   }
   
   .options a:hover {
       border: 0.5px solid black;
       
   }

   @media (max-width: 700px) {
       header.cabecalho-principal {
        height: 10%;
       }
   }