/* === GLOBAL ============================================== */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}
input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;

}
/*===== NAV DO HEADER ============ */
.modal-overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top:0;

    background-color: rgba(0, 0, 0, 0.5);



    opacity: 0;
    visibility: hidden;

    z-index: 999;
}

.modal-overlay.active {
    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 1;
    visibility: visible;
}


.modal {
    padding: 2.4rem;
    position: relative;

    background: #f0f2f5;

    width: 40%;

    border-radius: 0.5rem;

}

.modal header h2 {
    text-align: center;
    font-size: 2.5rem;
    border-bottom: 0.5px solid black;
}

.input-login label {
    display: block;
    margin-top: 0.5rem;
}

.input-login input {
    margin: 0.25rem 0.2rem 0;
    padding: 0.4rem 5rem 0.2rem 0.4rem;
    border: none;
}

.modal button {
    padding: 1rem 2rem;
    margin: 2rem 0 0 ;

    background: rgb(32, 106, 202);
    color: white;
    border: none;
    
}

.submit {
    display: flex;
    justify-content: space-between;
}

.submit .cancel-button {
    background: white;
    border: 1px solid black;
    color: black;
}
/* === BODY ============================================== */
body {
    font-family: 'PT Sans', sans-serif;
    background: #E5E7E9; 
}
/* === OPTIONS ============================================== */


.options {
 position: absolute;
 bottom: 82%;
 left: 76.5%;

 width: 20vw;
 max-height: 400px;
 text-align: center;

 background: white;
 border: 0.25px solid black;

 visibility: hidden;
 opacity: 0;
 z-index: 999;


}

.options.activeded {
    opacity: 1;
    visibility: visible;
}

.options a {
    display: block;
    padding: 0.5rem 0;
    text-decoration: none;
}

.options a:hover {
    border: 0.5px solid black;
    
}

/* === section de navegação principal ============================================== */
section {
    width: min(90vw, 900px);
    margin: -5rem auto auto auto;
    padding: 2rem 0.5rem;
   
} 

section .main-container {
    text-align: center;
   
    display: flex;
    flex-wrap: wrap;
    justify-content:  space-evenly;

}

.container-choose {
    width: 400px;
    height: 150px;

    padding: 1.5rem 2rem;
    
    border-radius: 0.5rem;
    color: white;

    margin: 0 0 1rem 0;


}

.container-choose:hover {
    transform:  scale(1.01);
}

.container-choose.cadastro {
    background:#26C6DA;
    border: solid 0.5px #21acbe;
}

.container-choose.div-form {
    background: #1DE9B6;
    border: solid 0.5px #18d1a3;
}

.container-choose.div-information {
    background: #b91de9;
    border: solid 0.5px #a41bce;
}  

.container-choose.div-information p {
    font-size: 0.8rem; 
}

.container-choose.div-redes {
    background: #641de9;
    border: solid 0.5px #5919cf;
}

.button-redes {
    margin-top: 2rem;
}

.button-redes a img {
    width: 40px;
    margin: 0 1rem 0 0;
}



button.button-main-container {
    margin-top: 0.5rem;
    padding: 0.5rem 1rem;
    
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
}

button.button-main-container:hover {
    border: solid 0.5px black;
}
/* =========== section sobre nós ===================== */
section.aboutUs {
    margin-top: 1rem;
    margin-bottom: 1rem;

    background: rgb(241, 241, 241);
}

.text-about {
    margin: 0 1rem;
}

.text-about p {
    margin: 1rem 0;

    font-size: 1.1rem;
}

.text-about h2 {
    
    font-size: 2.5rem;
    
    color: white;
    background: rgb(54, 144, 172);

    display: inline;
}

.aboutUs a {
    text-decoration: none;
    
}

.text-about a button {
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;

    padding: 0.5rem 1rem;
    margin-top: 1rem;
}

.test {
    display: flex;
    justify-content: center;
}
/* ========== responsive */
@media (max-width: 700px) {
    html {
        font-size: 87.5%;
    }

    header.cabecalho-principal {
        font-size: 60.5%;
    }

    .modal {
        width: 90%;
    }
}
